.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

.joinClusterButtonEnable {
    background-color: #721360;
    padding: 8px 16px;
    width: 10rem;
    border-radius: 6px;
    transition: 0.2s;
}
.joinClusterButtonEnable:hover {
    transform: scale(1.08);
}
.joinClusterButtonDisable {
    background-color: #72136193;
    color: gray;
    padding: 8px 16px;
    width: 10rem;
    border-radius: 6px;
    transition: 0.2s;
}

.tab {
    margin-top: 3rem;
    box-shadow:
        1.2rem 1.2rem 35px 22px var(#72136193);
    width: 50rem;
    border-collapse: collapse;
}
.caption {
    padding: 1rem;
    background-color: #721360;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: 1px solid grey;
    font-weight: 700;
    font-size: 1.3rem;
    color: whitesmoke;
}
.head {
    background-color: #721360;
    border-bottom: 1px solid grey;
}
.opCol {
    padding: 0.3rem;
    width: 20%;
    font-size: 1.1rem;
}
.addressCol {
    padding: 0.3rem;
    width: 80%;
    font-size: 1.1rem;
}
.opCell {
    padding: 0.2rem;
    text-align: center;
}

.addrCell {
    padding: 0.2rem;
    text-align: center;
}

.tab tbody tr {
    background-color: #d889cb93;
    border-bottom: 1px solid grey;
}
.tab tbody tr:nth-of-type(even) {
    background-color: #9d438d93;
}

.sdkIntercation {
    margin-top: 4rem;
    justify-content: center;
    align-items: center;
    .containerRightObol {
        width: 200px;
        display: flex;
        flex-direction: column;
        gap: 6px;
        .btnCreateCluster {
            background-color: #721360;
            width: 100%;
            padding: 8px 16px;
            border-radius: 6px;
            transition: 0.2s;
            &:hover {
                // transform: scale(1.05);
                opacity: 0.8;
            }
        }
        .btnActivateCluster {
            background-color: #721360;
            width: 100%;
            padding: 8px 16px;
            border-radius: 6px;
            transition: 0.2s;
        }
    }
}
.popupContainer {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 40rem;
    border-radius: 10px;
    border: solid 1px rgb(76, 75, 75);
    background-color: #3d0634;
}
.close {
    cursor: pointer;
    outline: none;
    color: red;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
}
.header {
    border-bottom: 1px solid gray;
    font-size: 1.9rem;
    font-weight: bold;
    text-align: center;
    padding: 0.7rem;
    background-color: #5c1b51;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.content {
    text-align: center;
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
}
.clusterNameDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.buttonContainer {
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom:  1rem;
    text-align: center;
}

.button {
    margin-right: 2rem;
    margin-left: 2rem;
    padding: 0.2rem 2.5rem 0.2rem 2.5rem;
    width: 15rem;
    font-size: 1rem;
    font-weight: bold;
    border: 1.5px solid grey;
    border-radius: 5px;
}
.button:hover {
    background-color: #631f58;
}
.clusterNameInput {
    outline: none;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 0.6rem;
    width: 45%;
    background-color: transparent;
    padding: 0.5rem 0.4rem;
    border: 1px solid gray;
    border-radius: 5px;
}
.clusterNameInput::placeholder {
    color: rgba(128, 128, 128, 0.51);
}

.jauge {
    width: 200px;
    height: 5px;
    background-color: white;
    border-radius: 2px;
    display: flex;
    .level {
        height: 100%;
        border-radius: 2px;
        background-color: #721360;
    }
}

.invitationContent {
    width: 60rem;
    text-align: center;
    border-radius: 10px;
    background-color: #e3aad9;
    padding: 0.5rem;
    color: black;
}

.linkColor {
    color: rgb(194, 60, 12);
}