.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    .logo,
    .connect {
        width: 200px;
        min-width: 200px;
    }
    .connect {
        display: flex;
        justify-content: flex-end;
        z-index: 1;
    }
    .menu {
        display: flex;
        .itemMenu {
            padding: 7px 13px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 6px;
            &:hover,
            &.current {
                text-decoration: underline;
            }
        }
    }
}

@media only screen and (max-width: 850px) {
    .header {
        .logo {
            min-width: 47px;
            width: 47px;
            overflow: hidden;
        }
    }
}